.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-text {
  max-width: 100%;
  width: 50%;
  padding-left: 15px;   /* Matches .container padding */
  padding-right: 15px;
  z-index: 3;
  word-break: break-word;
}

@media (max-width: 767.98px) {
  .hero-text {
    width: 100%;
    font-size: 1.75rem;
    position: static;
    transform: none;
    text-align: center;
    margin-top: 1rem;
  }

  .carousel-controls {
    display: none !important;
  }
}
